<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Suite" parallel="tests">
    <test name="Run Chrome on Grid Server">
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test><!-- Test -->

    <!--<test name="Run Firefox on Grid Server">
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>--> <!-- Test -->
</suite>